@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background: #fff;
    --foreground: #ebf4ff;
    --thirdground: #ffc600;
    --primary: #131923;
    --secondary: #0055b8;
    --secondary-foreground: #ffffff;
    --hero-back: #f3f3f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}

html{
    font-family: "Lato", sans-serif;
    font-size: 62.5%; /*define a fonte para 10px no rem*/
}

body{
    background-color: var(--background);
    color: var(--primary);
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.button, .button2{
    display: inline-block;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--secondary-foreground);
    padding: 2rem 4rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 15px;
}

.button2{
    background-color: var(--background);
    color: var(--secondary);
}

.button:hover, .button2:hover{
    opacity: 0.8;
}